build/
.vscode/
extract/*/
*.nds
!extract/.gitkeep
*bios.bin
*.sav
*.xMAP
objdiff.json
/objdiff-cli
/objdiff-cli.exe
/dsd
/dsd.exe
/dsd.pdb
build.ninja
.ninja_log*
.ninja_deps
.ninja_lock
/wibo
/tools/mwccarm/
__pycache__/
build_init.log
